.form-login {
	background-color: rgb(224, 224, 235);
}

body {margin: 0;}

ul.sidenav {
    background-color: #f1f1f1;
}

ul.sidenav li a {
    color: #000;
}
 
ul.sidenav li a.active {
    background-color: #4CAF50;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
}
