<!DOCTYPE html>
<html>
	<head>
		<title>Início</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../includ/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/size.css">
		<link rel="stylesheet" type="text/css" href="../../css/color.css">
		<link rel="stylesheet" type="text/css" href="../../css/position.css">
		<link rel="stylesheet" type="text/css" href="../../css/style.css">
		<script type="text/javascript" src="../../js/menu.js"></script>
		<script type="text/javascript" src="../../includ/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/submenu.js"></script>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<ul class="sidenav">
		  <li><a class="active" id="menu_inicio" onclick='troca_tela_professor("inicio")'>Início</a></li>
		  
		  <li><a id="menu_turma" onclick='troca_tela_professor("turma")'>Turmas</a></li>
		  <li><a id="menu_mudar_senha" data-toggle="modal" data-target="#myModal">Mudar senha</a></li>

		  <li><a>Sair</a></li>
		</ul>

		<div class="content exibir" id="inicio">
			inicio
		</div>
		<div class="content esconder" id="conteudo"></div>



		<!-- The Modal -->
		<div class="modal" id="myModal">
		  <div class="modal-dialog">
		    <div class="modal-content">

		      <!-- Modal Header -->
		      <div class="modal-header">
		        <h4 class="modal-title">Modal Heading</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>

		      <!-- Modal body -->
		      <div class="modal-body">
		        Modal body..
		      </div>

		      <!-- Modal footer -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		      </div>

		    </div>
		  </div>
		</div>



	</body>
</html>